project:
  type: website
  output-dir: docs

website:
  title: "website"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd
      - href: CV.qmd
        text: CV


format:
  html:
    theme: cosmo
    css: styles.css
    toc: true



